<div class="card-columns">
    <div class="card" *ngFor="let libro of libros">
        <img [src]="libro.img | rutaImg" class="card-img-top" [alt]="libro.titulo">
        <div class="card-body">
            <h6 class="card-title text-center">
                Titulo:
                <span class="badge badge-info text-wrap">{{ libro.titulo }}</span>
                <hr>
            </h6>
            <h6 class="card-subtitle text-center">
                Autor:
                <span *ngFor="let autor of libro.autor" class="badge badge-pill badge-primary"> {{ autor }} </span>
                <hr>
            </h6>
            <div class="row align-items-center text-center">
                <div class="col">
                    <small>
                        Existencia:
                    </small>
                    <br>
                    <span class="badge badge-success"> {{ libro.num_existencia }} </span>
                </div>
                <div class="col">
                    <small>
                        Stock:
                    </small>
                    <br>
                    <span class="badge badge-success"> {{ libro.num_stock }} </span>
                </div>
            </div>
        </div>
    </div>
</div>